@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 164 64% 98%;
    --foreground: 164 74% 1%;
    --muted: 164 16% 89%;
    --muted-foreground: 164 10% 25%;
    --popover: 164 64% 98%;
    --popover-foreground: 164 74% 1%;
    --card: 164 64% 97%;
    --card-foreground: 0 0% 0%;
    --border: 164 2% 92%;
    --input: 164 2% 92%;
    --primary: 164 46% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 164 19% 86%;
    --secondary-foreground: 164 19% 26%;
    --accent: 164 24% 78%;
    --accent-foreground: 164 24% 18%;
    --destructive: 1 96% 20%;
    --destructive-foreground: 1 96% 80%;
    --ring: 164 46% 39%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 164 54% 1%;
    --foreground: 164 40% 97%;
    --muted: 164 16% 11%;
    --muted-foreground: 164 10% 75%;
    --popover: 164 54% 1%;
    --popover-foreground: 164 40% 97%;
    --card: 164 54% 2%;
    --card-foreground: 164 40% 98%;
    --border: 164 2% 10%;
    --input: 164 2% 10%;
    --primary: 164 46% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 164 14% 9%;
    --secondary-foreground: 164 14% 69%;
    --accent: 164 23% 17%;
    --accent-foreground: 164 23% 77%;
    --destructive: 1 96% 52%;
    --destructive-foreground: 0 0% 100%;
    --ring: 164 46% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
